.brand {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: #eee !important;
    margin: 1% 10% 0 0;
}

a {
    font-size: 20px;
    
}

#nav-dropdown {
    width: 100%;
    background-color: none !important;
    padding: 0;
}

.nav-link, .link{
    color: #eee !important;
    margin-right: 15px;
    padding: 0;
}

.header {
    background-color: none !important;
    color: #eee;
}

img {
    width: 15px;
    margin-right: 5px;
}


.nav-fill {
    margin: 0;
}

.collapse {
    margin-bottom: 30px;
}
