.form_wrapper {
    width: 100%;
    text-align: center;
    
}
  
form {
    position: relative;
}
  
.search_input {
    width: 35%;
    padding: 15px 25px;
    background-color: #3b3b3b;
    border: 1px solid #d0d0d0;
    font-family: 'Open Sans', sans-serif;
    color: #eee;
    font-size: 20px;
    outline: none; 
}
  
.icon {
    width: 20px;
    height: 25px;
    position: absolute;
    top: 17px;
    margin-left: 5px;
} 
  
.button {
    padding: 15px 25px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #5e5e5e;
    background-color: #acacac;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    outline: none; 
}