/* .form_wrapper {
    width: 100%;
    position: relative;
}
  
form {
    position: absolute;
    right: 20%;
}
  
.search_input {
    width: 525px;
    padding: 15px 25px;
    background-color: #3b3b3b;
    border: 1px solid #d0d0d0;
    font-family: 'Open Sans', sans-serif;
    color: #eee;
    font-size: 20px;
    outline: none; 
}
  

  
.button {
    padding: 15px 25px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #5e5e5e;
    background-color: #acacac;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    outline: none; 
} */

.search_wrapper {
    position: relative;
    margin-top: 55px;
}

input.form-control {
    background-color: #3b3b3b;
    border: 1px solid #d0d0d0;
    width: 50px;
    cursor: pointer;
}

.input-group-lg>.form-control {
    padding: .6rem 2rem;
}

.icon {
    width: 20px;
    height: 25px;
    position: absolute;
    z-index: 9999;
    top: 12px;
    left: 12px;
} 

.input-group {
    width: 45%;
    margin-left: auto;
    margin-right: 20%;
}

input.form-control:focus {
    background-color: #3b3b3b;
    border: 1px solid #d0d0d0;
    outline: none; 
}